images.aux
images.log
images.pl
images.tex
index.html
labels.pl
statistics_help_de.aux
statistics_help_de.dvi
statistics_help_de.log
statistics_help_en.aux
statistics_help_en.dvi
statistics_help_en.html
statistics_help_en.log
