<div class="sideblock col-9">
{{{notification}}}
<h3>{{#str}} tutorial:header:2, mod_offlinequiz {{/str}}</h3>

<p>{{#str}} tutorial:introduction:2:1, mod_offlinequiz {{/str}}</p>

<p style="margin: 2em"><img class="answerimage" src="./pix/tutorial/answers_marked.svg"></p>

<p>{{#str}} tutorial:introduction:2:2, mod_offlinequiz {{/str}}</p>

<form action="tutorial.php" method="get" id="page2">
<div class="tutorialquestion">
  <h4>{{#str}} tutorial:question:2, mod_offlinequiz {{/str}}</h4>

  <input type="hidden" name="id" value="{{id}}">
  <input type="hidden" name="page" value="2">
  <div class="option"><input type="radio" name="answer" value="1" id="answer1"><label for="answer1"><img src="./pix/tutorial/checkbox_light.svg" border="1"></label></div>
  <div class="option"><input type="radio" name="answer" value="2" id="answer2"><label for="answer2"><img src="./pix/tutorial/checkbox_marked.svg" border="1"></label></div>
  <div class="option"><input type="radio" name="answer" value="3" id="answer3"><label for="answer3"><img src="./pix/tutorial/checkbox_bold.svg" border="1"></label></div>
  <div class="option"><input type="radio" name="answer" value="4" id="answer4"><label for="answer4"><img src="./pix/tutorial/checkbox_empty.svg" border="1"></label></div>
  <div class="option"><input type="radio" name="answer" value="5" id="answer5"><label for="answer5"><img src="./pix/tutorial/checkbox_deleted.svg" border="1"></label></div>


</div>
<input class="btn btn-primary tutorialbutton" type="submit" value="{{#str}} continue {{/str}}">
</form>
</div>