<div>
  <h3>{{#str}} tutorial, mod_offlinequiz {{/str}}</h3>
  <p>{{#str}} tutorial:start_text, mod_offlinequiz {{/str}}</p>
  <div>
  {{{notification}}}
  </div>
  <a href="{{tutorialstarturl}}" class="btn btn-primary"> {{#str}} tutorial:starttutorial, mod_offlinequiz {{/str}} </a>

</div>