{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_offlinequiz/tutorial_page-3

    Form to add random questions.

    Example context (json):
    {
    }
}}
<div class="sideblock col-9">
{{{notification}}}
<h3>{{#str}} tutorial:header:3, mod_offlinequiz {{/str}}</h3>

<p>{{#str}} tutorial:introduction:3:1, mod_offlinequiz {{/str}}</p>

<img class="questionimg" src="./pix/tutorial/answerform.svg" alt="{{#str}} tutorial:alt:answerform, mod_offlinequiz {{/str}}">

<p>{{#str}} tutorial:introduction:3:2, mod_offlinequiz {{/str}}</p>
<form action="tutorial.php" method="get" id="page3">
<div class="tutorialquestion">
  <h4>{{#str}} tutorial:question:3, mod_offlinequiz {{/str}}</h4>

  <input type="hidden" name="id" value="{{id}}">
  <input type="hidden" name="page" value="3">
  <div class="option"><input type="radio" name="answer" value="1" id="answer1"><label for="answer1">{{#str}} tutorial:option:3:1, mod_offlinequiz {{/str}}</label></div>
  <div class="option"><input type="radio" name="answer" value="2" id="answer2"><label for="answer2">{{#str}} tutorial:option:3:2, mod_offlinequiz {{/str}}</label></div>
  <div class="option"><input type="radio" name="answer" value="3" id="answer3"><label for="answer3">{{#str}} tutorial:option:3:3, mod_offlinequiz {{/str}}</label></div>
  <div class="option"><input type="radio" name="answer" value="4" id="answer4"><label for="answer4">{{#str}} tutorial:option:3:4, mod_offlinequiz {{/str}}</label></div>
</div>
<input class="tutorialbutton btn btn-primary" type="submit" value="{{#str}} continue {{/str}}">
</form>
</div>