<div class="sideblock col-9">
{{{notification}}}
<h3>{{#str}} tutorial:header:5, mod_offlinequiz {{/str}}</h3>

<p>{{#str}} tutorial:introduction:5, mod_offlinequiz {{/str}}</p>

<p>{{#str}} tutorial:question:5, mod_offlinequiz {{/str}}</p>
</div>