{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_offlinequiz/tutorial_start

    Form to add random questions.

    Example context (json):
    {
        "tutorialstarturl": "https://moodle.org/mod/offlinequiz/tutorial.php"
    }
}}
<div>
  <h3>{{#str}} tutorial, mod_offlinequiz {{/str}}</h3>
  <p>{{#str}} tutorial:start_text, mod_offlinequiz {{/str}}</p>
  <div>
  {{{notification}}}
  </div>
  <a href="{{tutorialstarturl}}" class="btn btn-primary"> {{#str}} tutorial:starttutorial, mod_offlinequiz {{/str}} </a>

</div>