<div class="sideblock col-3">
<h3>{{#str}} tutorial:title:navigation, mod_offlinequiz {{/str}}</h3>
<div class="content">
<p><a href="{{url}}&page=1">{{#str}} tutorial:header:1, mod_offlinequiz {{/str}}</a></p>
<p><a href="{{url}}&page=2">{{#str}} tutorial:header:2, mod_offlinequiz {{/str}}</a></p>
<p><a href="{{url}}&page=3">{{#str}} tutorial:header:3, mod_offlinequiz {{/str}}</a></p>
<p><a href="{{url}}&page=4">{{#str}} tutorial:header:4, mod_offlinequiz {{/str}}</a></p>
<p><a href="{{url}}&page=5">{{#str}} tutorial:header:5, mod_offlinequiz {{/str}}</a></p>
</div>
</div>